/* Redesign - James E. Walker Library, MTSU. 2017 Amy York and Robert Spurlin
Base CSS for all websites.
==============================================================================*/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
#s-lg-public-skiplink {
  background: transparent;
  color: #fff;
}

a {
  color: #0066CC;
  text-transform: underline;
  font-weight: 700;
}

*:active,
*:focus,
*:hover {
  outline: 0 !important;
}

a:active,
a:focus,
a:hover {
  outline: 0 !important;
}

.navbar-top,
body {
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.toplinks,
.toplinks>li>a {
  font-size: 14.4px;
  color: rgb(36, 36, 36);
  font-weight: 400;
}

/* Animation of the hamburger menu when clicked */

.navbar-toggle.collapsed>.icon-bar {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggle.collapsed>.middle {
  -webkit-transform-origin: left;
  transform-origin: left;
}

.navbar-toggle.collapsed.onnav>.top {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}

.navbar-toggle.collapsed.onnav>.middle {
  opacity: 0;
  width: 1px;
}

.navbar-toggle.collapsed.onnav>.bottom {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed.offnav>.top {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}

.navbar-toggle.collapsed.offnav>.middle {
  opacity: 1;
  width: auto;
}

.navbar-toggle.collapsed.offnav>.bottom {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}

.jumbotron.logo {
  text-align: center !important;
  padding-left: 0 !important;
}

.librarylink,
.librarylink:hover {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
}

.librarylink>h3,
.librarylink>h3:hover {
  color: #fff;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.jumbotron a:not(.librarylink) {
  display: block;
}

.mtblue {
  background-color: #155fa2;
}

.mtbluetxt {
  color: #155fa2;
}

h3.size {
  font-size: 18px;
  margin-top: 1rem;
}

.navbar-menu .nav li {
  margin: 0 5px;
}

.dropdown.mega-dropdown {
  margin: 0 !important;
}

header.mtlibraryheader .dropdown-menu {
  text-align: center;
  background-color: #eee;
}

.title {
  font-size: 22px;
  color: #000000;
  font-weight: 700; // NEW EDIT 2
  margin: 0 0 1rem 0;
}

/* Helper classes for mobile */

@media screen and (max-width: 767px) {
  .mobilehide {
    display: none !important;
  }
  .pb2m {
    padding-bottom: 2rem;
  }
  .mobileshow {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobileshow {
    display: none;
  }
}

.footeradjust {
  margin: auto;
  padding: 10px;
  width: calc(100% + 30px);
  margin-left: -15px;
  background: #f0f0f0;
  text-align: center;
}

.icons {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.icons i:before {
  margin-right: 0.5rem;
}

.fa-facebook-official:before {
  color: #426FAA;
}

.fa-twitter:before {
  color: #00aced;
}

.fa-instagram:before {
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 4px;
  padding-top: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.Alert {
  width: calc(100% + 30px);
  margin-left: -15px;
}

/* Chat box */

@media screen and (max-width: 767px) {
  .chat {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .chat {
    width: 400px;
    top: 300px;
    right: -400px;
  }
  .chat.open {
    right: 0;
  }
  .chatbutton {
    left: -64px;
    top: 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-width: 0 4px 4px;
    padding: 10px;
  }
  .slideout {
    border-right: 0;
  }
}

.chat {
  position: fixed;
  z-index: 10000;
  min-height: 340px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f9f9f9;
}

.chatbutton {
  font-weight: 700;
  background-color: #0066CC;
  color: #ffffff;
  border-color: #fff;
  border-style: solid;
  display: block;
  text-align: center;
  position: absolute;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.chatbutton:active,
.chatbutton:focus,
.chatbutton:hover {
  color: #fff;
  text-decoration: none;
}

#gethelp,
.slideout {
  width: 100%;
  min-height: 100%;
}

#gethelp iframe {
  min-height: 250px;
  width: 100%;
}

.slideout {
  border: 2px solid #999;
  background-color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .slideout {
    min-height: 340px;
  }
}

/* Search box in header adjustments */

@media screen and (min-width: 1247px) {
  #navbarmenu,
  .darkblue .padding {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 1246px) and (min-width: 768px) {
  #navbarmenu,
  .darkblue .padding {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  #navbarmenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    box-orient: horizontal;
    box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
  }
  #navbarmenu:after,
  #navbarmenu:before {
    display: none !important;
  }
  .navbar-menu .nav {
    display: inline-block;
  }
}

// 1015px is when the nav starts breaking. Add 10 for spacing issues 
@media screen and (min-width: 768px) and (max-width: 1025px) {
  #navbarmenu {
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .searchbox {
    margin: 1rem 0;
  }
  .nav.navbar-nav:not(.toplinks),
  .searchbox {
    width: 100%;
  }
  .nav.navbar-nav:not(.toplinks) {
    box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  header.mtlibraryheader .dropdown-menu {
    min-width: 100%;
    left: 0 !important;
  }
}

// NEW EDIT 1 BEGIN:
// To make 100% width menus. 
@media screen and (min-width: 767px) {
  header.mtlibraryheader .dropdown-menu {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    width: calc(100% - 20rem);
    max-width: calc(1600px - 20rem);
    border: 5px solid #113e87;
    float: none;
  } // Pretty transitions too... 
  .mega-dropdown {
    &.open {
      .dropdown-menu {
        opacity: 1;
        pointer-events: all;
      }
    }
    .dropdown-menu {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1246px) {
  header.mtlibraryheader .dropdown-menu {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 0 !important;
  }
  #mtsulogo {
    max-height: 65px !important;
  }
  .darkblue {
    padding: 0.7rem 0 !important;
  }
  .bluebox {
    opacity: 1 !important;
    max-height: inherit !important;
    .toplinks {
      max-height: inherit !important;
    }
  }
}

@media screen and (min-width: 1025px) {
  .sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 30px);
    z-index: 1000;
  }
  #mtsulogo {
    max-height: 90px;
    transition: all 0.3s;
  }
  header.mtlibraryheader .dropdown-menu {
    top: 5rem;
  }
  .bluebox,
  .toplinks {
    transition: all 0.3s;
  }
}

@media screen and (min-width: 827px) and (max-width: 1025px) {
  header.mtlibraryheader .dropdown-menu {
    top: 98.5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 826px) {
  header.mtlibraryheader .dropdown-menu {
    top: 92.5px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0 !important;
  }
}

// To center lists and limit their widths. 
.list_unstyled li {
  &:not(.superheader) {
    max-width: 350px;
  }
  &.superheader {
    max-width: 800px;
  }
  margin: 0 auto 15px auto !important;
  font-size: 16px;
}

// A11y: Change hovers of buttons: more contrast. 
.navbar-center>li>a {
  transition: all 0.3s;
}

.navbar-center>li>a:hover,
.navbar-center .open>a,
.navbar-center .open>a:focus,
.navbar-center .open>a:hover,
.navbar-center .open>a,
.navbar-center .open>a:focus,
.navbar-center .open>a:hover {
  background: #113e87 !important;
}

// NEW EDIT 1 END.
.navbar-menu .nav li {
  vertical-align: inherit;
}

#s-lg-guide-search {
  background-color: transparent !important;
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid white !important;
  padding: 0 !important;
}

#s-lg-guide-search,
#s-lg-guide-search::-webkit-input-placeholder {
  color: #fff !important;
  font-weight: 600 !important;
}

#s-lg-guide-search,
#s-lg-guide-search:-ms-input-placeholder {
  color: #fff !important;
  font-weight: 600 !important;
}

#s-lg-guide-search,
#s-lg-guide-search::placeholder {
  color: #fff !important;
  font-weight: 600 !important;
}

#s-lg-embedded-search-widget-1536348302485 button {
  color: #fff !important;
  padding: 0;
  margin-left: 0.4em !important;
  border: 0;
  background: transparent !important;
}

@media screen and (min-width: 768px) and (max-width: 826px) {
  header li.dropdown>a {
    padding: 12px 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .searchbox {
    margin-bottom: 2rem;
  }
}

#s-lg-guide-name {
  display: none;
}

.darkblue {
  padding: 0.7rem 0;
  background: #113e87;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
  transition: all 0.3s;
}

.darkblue .padding {
  max-width: 1600px;
  margin: 0 auto;
}

.darkblue #api_hours_today_iid907_lid2270 {
  font-size: 15px !important;
  line-height: 1.75 !important;
}

.darkblue p {
  margin: 0;
}

.darkblue .hours-today {
  float: left;
}

.hours-today {
  margin: 0 auto;
  text-transform: uppercase;
}

.hours-col-loc {
  display: none !important;
}

.s-lc-time {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.row.marginfix {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .hours-today {
    float: none !important;
  }
  .text-left-m {
    margin-top: 0.25rem;
  }
  .headerflex {
    box-pack: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .text-left-m {
    text-align: left;
  }
  .text-right-m {
    text-align: right;
  }
}

.white {
  color: #fff;
}

.white:focus,
.white:hover {
  color: #fff;
}

.headerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.headerflex p {
  display: inline-block;
  font-size: 15px;
  padding-right: 15px;
}

#api_hours_today_iid907_lid2270 {
  display: inline-block;
}

// Contact Us
table.department {
  td {
    padding-left: 5px;
    border-bottom: 1px solid #eee;
    padding-right: 10px;
  }
}

table.name {
  width: 100%;
  tr:nth-child(even) {
    background-color: #f5f0f0;
  }
}

table.liaisons {
  width: 100%;
  td {
    width: 50%;
  }
}

@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  table.department,
  table.liaisons,
  table.name,
    {
    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
      word-wrap: break-word;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      margin-top: 20px;
      width: 100%;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: -20px;
      width: auto;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: 700;
    }
  }
  table.department {
    td:only-child {
      margin-top: 0;
    } // The actual labels
    td:nth-of-type(1):not(:only-child):before {
      content: "Room #";
    }
    td:nth-of-type(2):before {
      content: "Name";
    }
    td:nth-of-type(3):before {
      content: "Function";
    }
    td:nth-of-type(4):before {
      content: "Phone";
    }
    td:nth-of-type(5):before {
      content: "Email";
    }
  }
  table.name {
    td:nth-of-type(1):not(:only-child):before {
      content: "Name";
    }
    td:nth-of-type(2):before {
      content: "Department/Unit";
    }
    td:nth-of-type(3):before {
      content: "Phone";
    }
    td:nth-of-type(4):before {
      content: "Email";
    }
  }
  table.liaisons {
    td:nth-of-type(1):not(:only-child):before {
      content: "Department/Program";
    }
    td:nth-of-type(2):before {
      content: "Library Liaison";
    }
  }
}

.button {
  padding: 1rem 0;
  color: #0066CC;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #0066CC;
  &:hover {
    background-color: #0066CC;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
  }
  &.blue {
    background-color: #0066CC;
    color: #ffffff;
    min-height: 48px;
    &:hover {
      background-color: #ffffff;
      color: #0066CC;
      border: 1px solid #0066CC;
    }
  }
}

.navbar-menu {
  z-index: 100 !important;
}

@media screen and (max-width: 767px) {
  .text-center-m {
    text-align: center;
  }
}

.d-inline-block {
  display: inline-block;
}

// The css for the slider containers, optional for internal pages.
.slider-container .s-lib-box-std {
  padding: 0;
  margin: 2rem 0;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slider-container .s-lib-box-std .s-lib-box-title {
  display: none;
}

.slider-container #s-lib-cpane-0 {
  margin: 0;
}

.slider-container .s-lib-box-content {
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100% !important;
  }
}

.slider-container .col-xs-12 {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .slider-container {
    display: none;
  }
}

@media screen and (max-width: 1050px) and (min-width: 992px) {
  .slider-container .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 835px) and (min-width: 768px) {
  .slider-container .slick-arrow {
    display: none !important;
  }
}

.slider-container img {
  min-width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
}

.twenty4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.paddingtest {
  padding: 100rem 0;
}

.nopad {
  padding: 0;
}

.s-lib-box-title {
  color: #000 !important;
  background-color: #eee !important;
  border-bottom: 1px solid #888 !important;
}

.s-lib-box {
  border-color: #888 !important;
}

#s-lg-tabs-container .nav-pills>li {
  a {
    background-color: #1e6dbc !important;
    transition: all 0.3s;
    &.active,
    &:hover {
      background-color: #113e87 !important;
    }
  }
  li.active a {
    background-color: #113e87 !important;
  }
}

#s-lg-guide-tabs {
  /* Make children of pill nav always show */
  .dropdown-menu {
    position: relative;
    display: block;
    left: 0;
    margin: 2px 0 0 20px !important;
    width: calc(100% - 20px);
    max-width: 100vw;
    box-shadow: none;
    z-index: 1;
    border: 0;
    padding: 0;
    a {
      white-space: unset;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      padding: 4px 15px;
      line-height: 1.75;
      margin-top: 2px;
    }
    li:first-child a {
      margin-top: 0;
    }
  }
  .dropdown-toggle {
    display: none !important;
  }
}