/* Redesign - James E. Walker Library, MTSU. 2017 Amy York and Robert Spurlin
Style arguments for the home page.
================================================================================

CONTENTS:

1. Floating search bar with background image, home page
2. 3 Column Bar, pulled from MT's home page
3. Other/Unclassified
4. Testing Grounds (put code you are not sure of here)

==============================================================================*/


/* Floating Search Bar
==============================================================================*/

#s-lg-box-15999343 {
  background: transparent;
}

#s-lg-col-126 {
  padding: 0;
}

#s-lg-box-15999343-container {
  padding: 0;
  margin-top: -1.05rem;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://libapps.s3.amazonaws.com/accounts/123588/images/DSC_4753_low_res.jpg);
  height: 455px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

@media screen and (min-width: 1500px) {
  #s-lg-box-15999343-container {
    height: 700px !important;
  }
}

@media screen and (max-width: 767px) {
  #s-lg-box-15999343-container {
    height: 300px !important;
    background-attachment: scroll;
  }

  .tab-content {
    max-height: 170px !important;
  }

  .nav-justified>li {
    width: 33%;
    float: left !important;
  }
  .s-lg-form-control {
    margin-right: 12px;
  }
}

.tab-content {
  overflow: hidden;
  max-height: 266px;
}

.transparent-box {
  color: white;
}


@media screen and (max-width: 490px) {
  .s-lg-form-control {
    width: 100% !important;
  }
}

.nav-tabs.nav-justified>li>a {
  border-radius: 0 !important;
  color: white;
  transition: all 0.2s;
}

.nav-tabs.nav-justified>li>a:hover {
  color: black;
  background: white;
}

.nav-tabs.nav-justified>li.active>a {
  color: black;
}

.input-group {
  max-width: 700px;
  margin: 0 auto;
}

.search-box {
  text-align: center;
}

/* 3 Column Bar
==============================================================================*/

#api_hours_today_iid907_lid2270, .statnumber {
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 410px) {
  #api_hours_today_iid907_lid2270, .statnumber {
    font-size: 110%;
  }
}

@media screen and (max-width: 480px) and (min-width: 411px) {
  #api_hours_today_iid907_lid2270, .statnumber {
    font-size: 150%;
  }
}

@media screen and (max-width: 580px) and (min-width: 481px) {
  #api_hours_today_iid907_lid2270, .statnumber {
    font-size: 175%;
  }
}

@media screen and (max-width: 700px) and (min-width: 581px) {
  #api_hours_today_iid907_lid2270, .statnumber {
    font-size: 180%;
  }
}

@media screen and (max-width: 800px) and (min-width: 701px) {
  #api_hours_today_iid907_lid2270, .statnumber {
    font-size: 200%;
  }
}

.hours-today {
  margin: 0 auto;
  text-transform: uppercase;
}

.hours-col-loc {
  display: none !important;
}

.stats p {
  margin: 10px 0;
  font-size: 100% !important;
}

.stats {
  margin: 0;
}

#gethelp > .row {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: #0066CC;
  color: white;
}

.trigger, .roomtrigger {
  cursor: pointer;
}

#reserverooms > .row {
  background: #0066CC;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

#reserverooms > .row h2 {
  padding: 1.5rem 0;
  color: white;
  font-weight: bold;
}

.button {
  padding: 1rem 0;
  color: #0066CC;
  background-color: white;
  transition: all 0.3s;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button:hover {
  background-color: #0066CC;
  color: white;
  text-decoration: none;
}


/* Other
==============================================================================*/

#s-lg-tabs-container {
  padding: 0;
}

#s-lg-box-16162454 {
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: -1.2rem;
  margin-bottom: 0;
}

#s-lg-box-16162454 p {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 5px 0;
}

#s-lib-footer-public {
  display: none;
}

#s-lib-scroll-top {
  display: none !important;
}

blockquote {
  background: url(https://libapps.s3.amazonaws.com/accounts/123588/images/bg-quote1.png) no-repeat;
  color: #a5a4a4;
  font-style: italic;
  margin: 0 30px;
  padding: 30px 30px 30px 50px;
  font-size: 2em;
  border-left: none;
}

.dean {
  max-width: 300px;
  max-height: 294px;
}

@media screen and (max-width: 991px) {
  .dean {
    margin-bottom: 3rem;
  }
}

#s-lg-content-35668060 ul {
  padding-left: 0 !important;
}



/* Testing grounds
==============================================================================*/
